@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
    font-family: 'Playfair Display', serif;
    background-color: #F3F1FF;
}

main {
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    width: 870px;
    padding: 30px;
}


.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player img {
    width: 56px;
    height: 56px;
}

.player {
    display: flex;
    align-items: center;
}

.player-name {
    margin-left: 15px;
}